<div class="page-header"><h1>მე-3 დარეკვის ანგარიში</h1></div>

<h2>საერთო ინფორმაცია</h2>

<ul class="standard">
  <li>მთლიანი რაოდენობა უბნებისა, სადაც დაკვირვება განხორციელდა: <%= @total_precincts.length %></li>
  <li>უბნების რაოდენობა, საიდანაც განხორციელდა ანგარიშგება: <%= @precincts.length %></li>
  <li>უბნების პროცენტული რაოდენობა, საიდანაც განხორციელდა ანგარიშგება: <%= number_to_percentage(@precincts.length.to_f / @total_precincts.length) %></li>
</ul>
<br />

<h2>დეტალური ინფორმაცია</h2>

<ul class="standard">
  <li>ამომრჩეველთა ხელმოწერების რაოდენობა ყველა სახის სიაში 17:00 საათისთვის (მე-3 დარეკვა 18:00 სთ-ზე): <%= @signatures %></li>
  
</ul>
<br />
