<div class="page-header">
  <h1>PMMG Observation Database</h1>
</div>

<p class="lead"><strong>Note:</strong> You should always ensure your browser is up-to-date and the latest version for security reasons and to take advantage of the latest features. We recommend Google Chrome, which you can download at <a href="http://www.google.com/chrome">http://www.google.com/chrome</a></p>

<p>The database is currently divided into six main sections corresponding to the main sections of the PMMG observation form. There is one section for each call that observers will make on election day (6).</p>

<p>For each call you can:</p>
<ul class="standard">
  <li>add a new record (precinct record);</li>
  <li>view a list of all records (precincts);</li>
  <li>view simple summary statistics of all the records entered so far for that call.</li>
</ul>

<p>You can navigate these features in the top navigation bar. There you will see a dropdown menu to add new records, view a summary, and view a list of all records.</p>

<h2>Adding a Call</h2>

<p>To add a new record for a call, select the drop down menu entitled “New Call” and choose the call for which you would like to add a new record.</p>

<p class="lead"><strong>Note:</strong> For each call, there can be only record with a particular district name and precinct number. If you add a record with a district name and a precinct number that already exists for a particular call, you will see an error message informing you that a record already exists with those values.</p>

<p>You must fill out at least the First Name, Last Name, District Name, and Precinct Number to save the record. Otherwise, you will see an error message asking you to add these fields.</p>

<h2>Editing and Deleting</h2>

<p>When you save a new record, or when you are viewing the list of all records, you will be given an option to edit or delete records. Just select the appropriate button for your needs. If you select delete, you will be asked to confirm your decision in case the selection was made by accident. Once a record is deleted or changes, that action cannot be undone.</p>

<h2>Summary View</h2>

<p>The summary view shows some basic statistics about the call. It is divided into three main sections. General information that you will find in each call and call-specific summaries. Lastly, you’ll find a table of all precincts which are yet missing from the database for that call.</p>

<h2>Feedback & Problems</h2>

<p>If you have any feedback or any problems, please contact JumpStart Georgia at: <a href="mailto:feedback@jumpstart.ge">feedback@jumpstart.ge</a></p>
